header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: linear-gradient(to right, rgb(75, 1, 88), rgb(45, 1, 88));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo-container {
    font-size: 1em;
    color: #fff;
    user-select: none;
    display:flex;
}

header .logo-container img {
    height: 50px;
    background: #fff;
    border-radius: 30%;
}

header .logo-container h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0 10px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 5px;

    border: 5px solid blue;
}

header nav img {
    cursor: pointer;
}