:root {
    --primary: #1258c2;
    --secondary: #1258c259;
    --background: #fdfdfd;
    --primary-transparent: rgba(18, 88, 194, 0.5);
    --header-height: 110px;
    --main-header-gap: 0px;
}

body {
    background: url("../assets/Background.png") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 0 0 auto;
    min-height: 100vh;
    box-sizing: border-box;
    margin-top: calc(var(--header-height) + var(--main-header-gap));
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}
